/* Style Sheet */

body {
    margin: 0;
}

#title-card {
    background: url("images/background.jpg") no-repeat center fixed;
    background-size: cover;
    height: 600px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    background-color: rgb(235, 235, 235);
    padding-bottom: 1000px;
}

#recipeCont {
    background-color: azure;
    width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
}

#recipeCard {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: chocolate;
    margin: 10px;
}

#nav-bar {
    background-color: rgb(178, 206, 200);
    padding: 1px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 45px;
}

.sidepanel {
    height: 100%;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color:rgb(178, 206, 200);
    padding-top: 50px;
    transition: 0.50s;
    /* 0.5 second transition effect to slide in the sidepanel */
    overflow: hidden;
}

/* side panel buttons */
.sidepanel .exploreBtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* position/style close button (top right corner 'x') */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* style button for sidepanel */
.openbtn {
    font-size: 20px;
    background-color: rgb(178, 206, 200);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: rgb(189, 193, 194);
}

/* style for buttons in sidepanel */
.exploreBtn {
    padding: 8px;
    background-color: rgba(178, 206, 200, 0.534);
    border: 0px;
    width: 100%;
    text-align: left;
    margin-top: 0;
}

.exploreBtn:hover {
    background:rgb(189, 193, 194);
}

/* style for close button */
.closebtn {
    color: white;
    text-decoration: none;
}

.closebtn:hover {
    color: rgb(189, 193, 194);
}

.category-dropdown {
    display: none;
    background-color: #ffffff;
    padding-left: 8px;
}