/* Style Sheet */
body {
    margin: 45px 0 0 0;
    font-family: 'Open Sans Condensed', 'Oswald', sans-serif;
    background: url("images/background.jpg") no-repeat center fixed;
    background-size: cover;
}

/* Title Card */
#title-card {
    height: 400px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainTitle {
    font-size: 80px;
    font-family: 'oswald';
    margin: 0px;
    color: rgb(158, 192, 185);
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: black;
}

.tagline {
    font-size: 25px;
    margin: 0;
    font-style: italic;
    color: rgb(30, 68, 60);
}

/* Search Bar */
#recipeSearch {
    width: 500px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid black;
    font-family: 'Open Sans Condensed';
    font-size: large;
    outline: none;
    padding-left: 15px;
}

/* Recipe Preview Display */
#content {
    /* background-color: rgba(8, 87, 87, 0.712); */
    /* padding-bottom: 1000px; */
}

#recipeCont {
    /* background-color: rgba(255, 255, 255, 0.466); */
    width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.recipeCard {
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(178, 206, 200);
    margin: 10px;
}

.pOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* Nav Bar */
#nav-bar {
    background-color: rgb(178, 206, 200);
    padding: 1px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 45px;
}

.nav-format {
    width: 99%;
    margin: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submitForm {
    background-color: rgba(178, 206, 200, 0.534);
    color: white;
    padding: 8px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: left;
    margin-top: 0;
    font-size: 18px;
    outline: 0;
}

.submitForm:hover {
    background-color: rgb(189, 193, 194);
}

/* Nav Bar - Sidepanel Styles */
.sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(178, 206, 200);
    padding-top: 50px;
    transition: 0.50s;
    overflow: hidden;
}

/* Nav Bar - Side Panel - Buttons */
.sidepanel .exploreCategory {
    padding: 6px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: flex;
    transition: 0.3s;
}

/* Nav Bar - Side Panel - Close Button */
.sidepanel #closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Nav Bar - Side Panel - Explore Button*/
#exploreBtn {
    font-size: 20px;
    background-color: rgb(178, 206, 200);
    color: white;
    padding: 10px 15px;
    border: none;
    height: 45px;
    outline: 0;
}

#exploreBtn:hover {
    background-color: rgb(189, 193, 194);
}

/* Nav Bar - Side Panel - Buttons in Panel */
.exploreCategory {
    padding: 8px;
    background-color: rgba(178, 206, 200, 0.534);
    border: 0px;
    width: 100%;
    text-align: left;
    margin-top: 0;
    outline: none;
}

.exploreCategory:hover {
    background: rgb(189, 193, 194);
}

/* Explore - Close Button */
#closeBtn {
    color: white;
    border: solid black 1px;
    outline: none;
    text-decoration: none;
    background-color: rgba(178, 206, 200, 0.637);
    margin: 1px;
}

#closeBtn:hover {
    color: rgb(189, 193, 194);
}

/* Nav Bar - Explore Panel - Categories */
.category-dropdown {
    display: none;
    background-color: #ffffff;
    padding-left: 8px;
}

.subCategory {
    padding: 8px;
    background-color: rgba(178, 206, 200, 0.534);
    border: 0px;
    width: 100%;
    text-align: left;
    margin-top: 0;
    color: white;
    font-size: 20px;
    outline: none;
}

.subCategory:hover {
    color: rgb(189, 193, 194);
}

/* Submit Recipe Div */
#form {
    display: none;
    background-color: rgba(211, 223, 220, 0.863);
    width: 900px;
    margin: auto;
    padding: 50px;
    flex-direction: column;
}

#submitForm {
    width: 60px;
}


/* Submit Recipe Form */
textarea {
    resize: vertical;
    width: 500px;
    height: 100px;
    white-space: pre-wrap;
}

/* Main Recipe Formatting */
.mainRecipe {
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 204, 204);
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
}

.subRecipeMenu {
    background-color: rgb(178, 206, 200);
    width: 200px;
    padding: 10px;
    border: 1px solid black;
}

.textCont {
    display: flex;
    align-items: baseline;
    height: 55px;
}

.faveR {
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.faveR:hover {
    color: rgb(178, 206, 200);
}

.subH3, .recipeName, .MainRecipeH2 {
    text-decoration: underline;
    margin-bottom: 5px;
}

.subP {
    padding-left: 4px;
}

/* Link Styling */
a {
    color: rgb(15, 53, 11);
}

a:hover {
    color: rgb(175, 181, 192);
}